/*
    Author     : Dmitriy K.
*/
@import "fonts.css";

html {
    font-family: 'Conv_MyriadPro-Regular';
    background-color: #eeeeee;
}
body {
    margin: 0;
    top: 0;
    background: #eee;
}

ul {
    padding: 0;
}

li {
    margin-top: 5px;
    list-style-type: none;
}

.sys-req {
    padding: 0.5em;
    list-style: none;
}

.content {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0;
}

.header {
    width: 100%;
    margin: 0;
    top: 0;
    min-height: 60px;
    background-color: #2196F3;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.54);
}

.logo {
    color: white;
    line-height: 36px;
    padding: 5px;
    position: relative;
    margin: auto;
}

.info {
    width: 100%;
}

.download {
    list-style-type: none;
    padding: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
}

.download:hover {

}

.spoiler > input + label:after {
    content: "+";
    margin-right: 10px;
    float: left;
    font-family: monospace;
    font-weight: bold;
}

.spoiler > input:checked + label:after {
    content: "-";
    float: left;
    margin-right: 10px;
    font-family: monospace;
    font-weight: bold;
}

.spoiler > input {
    display: none;
}

.spoiler > input + label, .spoiler > .spoiler_body {
    background: #1e7794;
    color: white !important;
    padding: 5px 15px;
    overflow: hidden;
    color: black;
    width: 100%;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.spoiler > input + label + .spoiler_body {
    display: none;
}

.spoiler > input:checked + label + .spoiler_body {
    display: block;
    font-weight: 100;
    color: black !important;
    background-color: #eeeeee;
}

.spoiler > .spoiler_body {
    background: #fff;
    border-top: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #0D47A1;
}

a:hover {
    text-decoration: underline;
}

h2 {

}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    background: #fff;
    border-radius: 2px;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-content {
    padding: 1em 1.5em 1.5em;
}

.card-head {
    color: white;
    background: #0099cc;
    font-family: sans-serif;
    margin: 0;
    padding: 1em 2em 1em;
}

.center {
    text-align: center;
}

h3 {
    margin-left: 1em;
    padding: 0;
}

h3 {
    margin-left: 1em;
    padding: 0;
}