/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.06.2016, 14:33:01
    Author     : aser0
*/

.header{
    width: 100%;
    display: inline-flex;
    height: 100px;
    justify-content: space-between;
    background-color: #b2c7dc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
}
iframe{
    width:100%;
    height:700px;
    margin: auto;
}

.menu{
    position: relative;
    /* float: right; */
    /* width: 10%; */
    height: 100%;
    background-color: #b2c7dc;
}

.menuPoint{
	display: inline-flex;
}

.menuLi{
    margin-left: 5px;
    text-transform: uppercase;
    /* color: slategray; */
    margin-right: 25px;
}

.logo{
    font-size: xx-large;
    padding: 5px;
    display: block;
    color: blue;
    /* margin: auto; */
    margin-left: 20px;
    margin-top: 30px;
}

.form-signin{
    /* display: block; */
    position: absolute;
    /* float: right; */
    /* margin-right: 0; */
}

.container_form-signin{
    display: block;
    flex-flow: right;
    position: relative;
    float: right;
}

.footer{

}




