<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Описание классов | Классы замкнутости</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="public/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="public/css/my.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]><script src="public/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="public/js/ie-emulation-modes-warning.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Главная</a></li>
            <li role="presentation" class="active"><a href="/about">Про классы</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Замкнутые классы булевых функций</h3>
      </div>

      <div class="row">
      	<div class="col-md-6">
		      <h4>T<sub>0</sub></h4>
		      <p>Класс функций, сохраняющих константу 0:<br/><img src="https://upload.wikimedia.org/math/7/1/e/71e2825a61d5adc47fba37b7d0ff32f0.png"></p>
		      <hr/>
		      <h4>T<sub>1</sub></h4>
		      <p>Класс функций, сохраняющих константу 1:<br/><img src="https://upload.wikimedia.org/math/e/2/d/e2d3f302acf472509b06a2ad80a401be.png"></p>
		      <hr/>
		      <h4>S</h4>
		      <p>Класс самодвойственных функций:<br/><img src="https://upload.wikimedia.org/math/3/4/2/342266768a2eb99b8f2a7a38c2027a05.png"></p>
		      <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		        <div class="panel panel-default">
		          <div class="panel-heading" role="tab" id="heading1">
		            <h4 class="panel-title">
		              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
		                <i class="fa fa-minus-square-o"></i> Самодвойственные функции 
		              </a>
		            </h4>
		          </div>
		          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
		            <div class="panel-body">
		              Функцией, двойственной к функции <img src="https://upload.wikimedia.org/math/9/3/5/935c0bef9816aeade9eec6730ba7d8cf.png">, называется функция <img src="https://upload.wikimedia.org/math/1/b/6/1b6b4cadff53f3c7d005d5a45fc026f4.png">. Значит, функция <img src="https://upload.wikimedia.org/math/9/3/5/935c0bef9816aeade9eec6730ba7d8cf.png"> является самодвойственной, если <img src="https://upload.wikimedia.org/math/1/5/c/15c927d9f34bfa2a443c362c35e91300.png">.
		            </div>
		          </div>
		        </div>
		      </div>-->
		      <hr/>
		      <h4>M</h4>
		      <p>Класс монотонных булевых функций:<br/><img src="https://upload.wikimedia.org/math/b/8/5/b8547173878ad874a74bd6bbf3519fa2.png"></p>
		      <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		        <div class="panel panel-default">
		          <div class="panel-heading" role="tab" id="heading2">
		            <h4 class="panel-title">
		              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
		                <i class="fa fa-minus-square-o"></i> Монотонные функции
		              </a>
		            </h4>
		          </div>
		          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
		            <div class="panel-body">
		              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		            </div>
		          </div>
		        </div>
		      </div>-->
		      <hr/>
		      <h4>L</h4>
		      <p>Класс линейных булевых функций:<br/><img src="https://upload.wikimedia.org/math/5/a/f/5af6edef2ff372a3be92a3479b96648d.png"></p>
		      <!--
		      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		        <div class="panel panel-default">
		          <div class="panel-heading" role="tab" id="heading3">
		            <h4 class="panel-title">
		              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
		                <i class="fa fa-minus-square-o"></i> Линейные функции
		              </a>
		            </h4>
		          </div>
		          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		            <div class="panel-body">
		              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		            </div>
		          </div>
		        </div>
		      </div>-->
		      <hr/>
		      <h4>U</h4>
		      <p>Класс функций одной переменной U, содержащий только константы, отрицание и селектор (функцию, равную одному из своих аргументов на всех наборах их значений).</p>
		      <hr/>
		      <h4>C</h4>
		      <p>Через С обозначается множество всех функций, которые не имеют существенных переменных (т.е. равных константам).</p>
		      <hr/>
		      <h4>P<sub>2</sub></h4>
		      <p>Множество P<sub>2</sub> всех возможных булевых функций замкнуто. Любой замкнутый класс булевых функций, отличный от P<sub>2</sub>, целиком содержится хотя бы в одном из пяти предполных классов (T<sub>0</sub>, T<sub>1</sub>, L, M, S).</p>
		      <hr/>
	      </div>
	      <div class="col-md-6">
		      <h4>I<sup>∞</sup></h4>
		      <p>Класс I<sup>∞</sup> функций, для которых выполнено условие <img src="https://upload.wikimedia.org/math/e/e/9/ee968323db64a0907ac441d24b413498.png">, где <i>x<sub>i</sub></i> — одна из переменных функции.</p>
		      <hr/>
		      <h4>O<sup>∞</sup></h4>
		      <p>Класс O<sup>∞</sup> функций, для которых выполнено условие <img src="https://upload.wikimedia.org/math/9/0/c/90cc2395f6f7be1fc9a4d07ad27a3d9b.png">, где <i>x<sub>i</sub></i> — одна из переменных функции.</p>
		      <hr/>
		      <h4>O<sup>m</sup></h4>
		      <p>Класс O<sup>m</sup> функций (m — любое натуральное, большее единицы число), удовлетворяющих следующему условию: для любых m наборов, на которых функция принимает нулевое значение, найдется переменная, также принимающая нулевое значение на всех этих наборах.</p>
		      <hr/>
		      <h4>I<sup>m</sup></h4>
		      <p>Класс I<sup>m</sup> функций (m — любое натуральное, большее единицы число), удовлетворяющих следующему условию: для любых m наборов, на которых функция принимает единичное значение, найдется переменная, также принимающая единичное значение на всех этих наборах.</p>
		      <hr/>
		      <h4>D</h4>
		      <p>Класс дизъюнкций D, являющийся замыканием множества <img src="https://upload.wikimedia.org/math/b/b/a/bbacacd5143b18235c475ca3d4d96dab.png">. Он представляет собой множество функций вида <img src="https://upload.wikimedia.org/math/0/2/9/029faed2922d1b99e1e11bad4fa841f7.png">.</p>
		      <hr/>
		      <h4>K</h4>
		      <p>Класс конъюнкций K, являющийся замыканием множества <img src="https://upload.wikimedia.org/math/2/1/e/21e8a48f1e0945a4822a637eedbb4bd3.png">. Он представляет собой множество функций вида <img src="https://upload.wikimedia.org/math/3/2/e/32eee38069674699844254acb1d597c3.png">.</p>
		      <hr/>
	      </div>
      </div>

    <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
