<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Классы замкнутости</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <link href="/public/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/public/css/my.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="/public/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/public/js/ie-emulation-modes-warning.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Главная</a></li>
                <li role="presentation"><a href="/about">Про классы</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Замкнутые классы булевых функций</h3>
    </div>

    <div class="jumbotron">
        <p class="lead">Введите вектор значений (только цифры 0 и 1; количество цифр должно быть 2<sup>n</sup> цифр, 0 < n < 5)</p>
        <form action="/" method="post">
            <div class="input-group">
                <input type="text" name="vector" class="form-control" placeholder="Ввод...">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Отправить">
          </span>
            </div>
        </form>
        <h5>Пример: 0101</h5>
    </div>

{% if error == true %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Ошибка!</strong> Будьте внимательнее, введен некорректный вектор значений.
</div>
{% endif %}

{% if table != null %}
    {% set vars = table.getTruthTable()[0]|length %}
    {% set belongsTable = table.belongsAll() %}
<table class="table table-bordered">
    <caption>Таблица истинности</caption>
    <thead>
    <tr>
        {% for i in 1..vars %}
            <th>x<sub>{{ i }}</sub></th>
        {% endfor %}
        <th>F</th>
    </tr>
    </thead>
    <tbody>
    {% for i in 1..table.getTruthTable()|length %}
        <tr>
            {% for j in 1..vars %}
                <td>{{ table.getTruthTable()[i-1][j-1] }}</td>
            {% endfor %}
            <th>{{ table.getVector()[i-1] }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>


      <hr/>

      <div class="col-md-3">
        <h4>Классы Поста</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                  <th>T<sub>0</sub></th>
                  <td>{{ belongsTable['T0'] }}</td>
                </tr>
                <tr>
                  <th>T<sub>1</sub></th>
                  <td>{{ belongsTable['T1'] }}</td>
                </tr>
                <tr>
                  <th>S</th>
                  <td>{{ belongsTable['S'] }}</td>
                </tr>
                <tr>
                  <th>M</th>
                  <td>{{ belongsTable['M'] }}</td>
                </tr>
                <tr>
                  <th>L</th>
                  <td>{{ belongsTable['L'] }}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <h4>Вспомогательные классы</h4>
        <table class="table table-bordered left">
            <tbody>
                <tr>
                  <th>U</th>
                  <td>{{ belongsTable['U'] }}</td>
                </tr>
                <tr>
                  <th>C</th>
                  <td>{{ belongsTable['C'] }}</td>
                </tr>
                <tr>
                  <th>P<sub>2</sub></th>
                  <td>{{ belongsTable['P2'] }}</td>
                </tr>
                <tr>
                  <th>I<sup>∞</sup></th>
                  <td>{{ belongsTable['IInf'] }}</td>
                </tr>
                <tr>
                  <th>O<sup>∞</sup></th>
                  <td>{{ belongsTable['OInf'] }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody>
                <tr>
                  <th>O<sup>m</sup></th>
                  <td>{{ belongsTable['Om'] }}</td>
                </tr>
                <tr>
                  <th>I<sup>m</sup></th>
                  <td>{{ belongsTable['Im'] }}</td>
                </tr>
                <tr>
                  <th>D</th>
                  <td>{{ belongsTable['D'] }}</td>
                </tr>
                <tr>
                  <th>K</th>
                  <td>{{ belongsTable['K'] }}</td>
                </tr>
            </tbody>
        </table>
      </div>

      <div class="clearfix"></div>

      <hr/>

      <h4>Остальные классы</h4>

      <table class="table table-bordered left">
          <tbody>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="T₀₁ = T₀ ∩ T₁">T<sub>01</sub></abbr></th>
                <td>{{ belongsTable['T01'] }} </td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="L₀ = L ∩ T₀">L<sub>0</sub></abbr></th>
                <td>{{ belongsTable['L0'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="C₁ = C ∩ T₁">C<sub>1</sub></abbr></th>
                <td>{{ belongsTable['C1'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="M₁ = M ∩ T₁">M<sub>1</sub></abbr></th>
                <td>{{ belongsTable['M1'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="K₀₁ = K ∩ T₀₁">K<sub>01</sub></abbr></th>
                <td>{{ belongsTable['K01'] }}</td>
              </tr>
          </tbody>
      </table>

      <table class="table table-bordered left">
          <tbody>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="U₀₁ = U ∩ T₀₁">U<sub>01</sub></abbr></th>
                <td>{{ belongsTable['U01'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="MI₁m = M ∩ I₁m">MI<sub>1</sub><sup>m</sup></abbr></th>
                <td>{{ belongsTable['MI1m'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="SU = S ∩ U">SU</abbr></th>
                <td>{{ belongsTable['SU'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="C₀ = C ∩ T₀">C<sub>0</sub></abbr></th>
                <td>{{ belongsTable['C0'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="M₀ = M ∩ T₀">M<sub>0</sub></abbr></th>
                <td>{{ belongsTable['M0'] }}</td>
              </tr>
          </tbody>
      </table>

      <table class="table table-bordered left">
          <tbody>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="D₁ = D ∩ T₁">D<sub>1</sub></abbr></th>
                <td>{{ belongsTable['D1'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="I₁m = Im ∩ T₁">I<sub>1</sub><sup>m</sup></abbr></th>
                <td>{{ belongsTable['I1m'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="L₀₁ = L ∩ T₀₁">L<sub>01</sub></abbr></th>
                <td>{{ belongsTable['L01'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="MOm = M ∩ Om">MO<sup>m</sup></abbr></th>
                <td>{{ belongsTable['MOm'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="MU = M ∩ U">MU</abbr></th>
                <td>{{ belongsTable['MU'] }}</td>
              </tr>
          </tbody>
      </table>

            <table class="table table-bordered left">
          <tbody>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="D₀ = D ∩ T₀">D<sub>0</sub></abbr></th>
                <td>{{ belongsTable['D0'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="O₀m = Om ∩ T₀">O<sub>0</sub><sup>m</sup></abbr></th>
                <td>{{ belongsTable['O0m'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="K₁ = K ∩ T₁">K<sub>1</sub></abbr></th>
                <td>{{ belongsTable['K1'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="U₁ = U ∩ T₁">U<sub>1</sub></abbr></th>
                <td>{{ belongsTable['U1'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="M₀₁ = M ∩ T₀₁">M<sub>01</sub></abbr></th>
                <td>{{ belongsTable['M01'] }}</td>
              </tr>
          </tbody>
      </table>

      <table class="table table-bordered left">
          <tbody>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="MIm = M ∩ Im">MI<sup>m</sup></abbr></th>
                <td>{{ belongsTable['MIm'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="SL = S ∩ L">SL</abbr></th>
                <td>{{ belongsTable['SL'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="K₀ = K ∩ T₀">K<sub>0</sub></abbr></th>
                <td>{{ belongsTable['K0'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="U₀ = U ∩ T₀">U<sub>0</sub></abbr></th>
                <td>{{ belongsTable['U0'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="L₁ = L ∩ T₁">L<sub>1</sub></abbr></th>
                <td>{{ belongsTable['L1'] }}</td>
              </tr>
          </tbody>
      </table>

      <table class="table table-bordered left">
          <tbody>
              <th><abbr data-toggle="tooltip" data-original-title="D₀₁ = D ∩ T₀₁">D<sub>01</sub></abbr></th>
                <td>{{ belongsTable['D01'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="S₀₁ = S ∩ T₀₁">S<sub>01</sub></abbr></th>
                <td>{{ belongsTable['S01'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="MO₀m = M ∩ O₀m">MO<sub>0</sub><sup>m</sup></abbr></th>
                <td>{{ belongsTable['MO0m'] }}</td>
              </tr>
              <tr>
                <th><abbr data-toggle="tooltip" data-original-title="SM = S ∩ M">SM</abbr></th>
                <td>{{ belongsTable['SM'] }}</td>
              </tr>
          </tbody>
      </table>
{% endif %}
</div>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html> 